body {
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-transform: capitalize;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

main{
  min-height: 500px;
}

  .navlink {
    display: flex;
    list-style:none;
    margin: 20;
    padding: 20;
  }

  
  .navlink a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    color: white;
    font-size: 20px;
    padding: 50px;
    transition: 0.4s;
    text-transform: uppercase;
    
  }

  .navlink a:hover{
    color: black;
    background-color:rgba(190,4,88,255);
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 50px rgba(190,4,88,255);
    border-radius: 50px;
    transition: 0.5s;
  }




#logohead{
  margin-right: 40px ;
  height: 100px;
  transition: 1s;
  
}
#logohead:hover{
  height: 110px;
  transition: 3s;
}

main{
  margin-top: 150px;
}


#con{
  justify-content: space-between;
  display: flex;
}

#logocon{
  display: inline-block;
  width: 60%;
  
}

#logocon img{
  height: 500px;
  padding-right: 0;
  padding-left: 200px;
  transition: 0.5s;
  
}

#logocon img:hover{
  height: 500px;
  transition: 0.5s;
  filter: drop-shadow(0 0 30px rgba(190,4,88,255)) ;
}

#textcon{
  display: inline-block;
  width: auto;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 300px;
  text-align: left;
  }

#textcon p{
  font-size: 30px;
  text-transform: capitalize;
  transition: 0.5s;
  font-family: 'permanent-marker';
}

#textcon p:hover{
  color: rgba(190,4,88,255);
  font-size: 33px;
  transition: 0.5s;
  text-shadow: 0 0 12px rgba(190,4,88,205) ;

}
 
/* section2 */

#container{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  background-color: black;
}

#con1{
  display: inline-block;
  background-color: black;
  width: 225px;
  height: 360px;
  margin-left: 250px;
  margin-right: 60px;
  
 
} 
#con1 video{
  height: 400px;
  transition: 0.5s;
  
  border-radius: 30px;
}

#con1 video:hover{
  height: 430px;
  transition: 0.5s;
  box-shadow:0 0 50px rgba(190,4,88,255) ;
}

#con1 h1{
  text-align: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-right: 25px;
  color: white;

}

#con1 h1:hover{
  text-shadow: 0 0 50px white;
  color: rgba(190,4,88,255);
}




#con2{
  display: inline-block;
  background-color: black;
  width: 400px;
  height: 100px;
  padding-bottom: 0;
  padding-top: 100px;
 }



#con2 img{
  width:400px;
}





#con3{
  display: inline-block;
  background-color: black;
  width: 300px;
  height: 400px;
  margin-right: 190px;
  text-align: center;
  
  
}
#con3 video{
  height: 400px;
  border-radius: 30px;
  transition: 0.5s;
}

#con3  video:hover{
  height: 460px;
  box-shadow: 0 0 50px rgba(190,4,88,255);
  transition: 0.5s;

}


#con3 h1{
  text-align: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;

  color: white;

}

#con3 h1:hover{
  text-shadow: 0 0 50px white;
  color: rgba(190,4,88,255);
}

/* section3 */

#exp{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;

}
#exp2{
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}

#sec3{
  display: flex;
}



#exp p{
  font-size: 30px;
  font-family: fantasy;
  transition: 0.5s;
}

#exp p:hover{
  font-size: 32px;
  transition: 0.5s;
  color: rgba(190,4,88,180);
}

#exp2 p:hover{
  font-size: 32px;
  transition: 0.5s;
  color: rgba(190,4,88,180);
}



#exp2 p{
  font-size: 30px;
  font-family: fantasy;
  text-align: left;
  transition: 0.5s;
}

/* footer */
footer{
  background-color: rgba(190,4,88,180);
  margin-top: 100px;
  height: 180px;
}
#footersec{
  display: flex;
}
#navfoot{
display: inline-block;
margin-left: 60px;
margin-top: 10px;
margin-bottom: 50px;
margin-right: 50px;
}
#navfoot li{
  color: black;
  margin:8px;
  font-size: 20px;
  text-shadow: 0 0 100px black;
}


#navl-ink{
  list-style: none;
}

#navl-ink a{
  text-decoration: none;
  color: black;
}

#navl-ink a:hover{
  color: white;
  text-shadow: 0 0 30px white;
}

#logoft{
  margin-left: 400px;
  margin-top: 5px;
}

#logoft h1{
  text-align: center;
  font-size: 60px;
  color:black;

}

#logoft h1:hover{
  text-shadow: 0 0 60px white;

}



#logoft p{
  color: black;
  text-align: center;
  margin-top: -50px;
}
#socialft{
  display: flex;
  margin-left: 450px;
  margin-top: 20px;
}

/* instagram */
#insta{
  display: inline-block;
  color: black;
  display: inline-block;
}
#insta img{
 box-shadow: 0 0 2px white;
 border-radius: 10px;
 height: 40px;
 background-color: white;
}

#insta img:hover{
  box-shadow: 0 0 5px white;
}

#insta p{
  margin-top: -3px;
  text-align: center;
  margin-right: 8px;
  font-size: 12px;
}

/* linkedin */


#linkedin{
  display: inline-block;
  color: black;
  display: inline-block;
}

#linkedin img{
  box-shadow: 0 0 2px white;
  border-radius: 10px;
  height: 40px;

}


#linkedin img:hover{
  box-shadow: 0 0 5px white;
}


#linkedin p{
  margin-top: -3px;
  text-align: center;
  font-size: 12px;
  margin-right: 8px;
  color: black;
}


/* github */

#git{
  display: inline-block;
  color: black;
  display: inline-block;
}

#git img{
  box-shadow: 0 0 2px white;
  border-radius: 10px;
  height: 40px;

}


#git img:hover{
  box-shadow: 0 0 5px white;
}


#git p{
  margin-top: -3px;
  text-align: center;
  font-size: 12px;
  margin-right: 8px;
  color: black;
  
}


#active{
  color: black;
    background-color:rgba(190,4,88,255);
    padding-right: 0.5px;
    padding-left: 0.5px;
    padding-top: 2px;
    padding-bottom: 2px;
   
    border-radius: 80px;
    transition: 0.5s;
}
